@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.blog {
    @apply bg-slate-100 bg-opacity-30 border rounded p-5 mb-5 border-slate-600 text-slate-200
}

.blog .blog_content a{
    @apply text-blue-300 
}

.blog h1{
    @apply font-extrabold text-orange-500
}

.blog .blog_created_at{
    @apply  text-[12px]
}

.blog .avatar{
    @apply float-left rounded-full w-6 h-6 border border-slate-500 mr-2 
}

.block .header{
    @apply pb-5 
}

.block .ck-content{
    @apply bg-green-500
}



.blog-button{
    @apply py-2 px-3 border border-slate-800 rounded text-xs font-bold bg-slate-800
}

.blog input, .blog textarea, .blog select{
    @apply p-5 text-slate-100 mb-4 bg-slate-800 border-slate-600 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-0 rounded-md shadow-sm mt-1 block w-full
}

#blog-content{
    @apply text-black
}

.blog .edit-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}
.blog .delete-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}

.blog .comment-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}

.blog blockquote {
    
    display: block;
    white-space: pre;
    line-height: 1.4;
    font-family: 'Courier New', Courier, monospace;
    @apply border border-slate-500 p-3 mb-3 rounded-md bg-slate-900 bg-opacity-30 font-extrabold
 }
 

 .blog-main-content{
    background: url(../img/pen-gb438350eb_1920.jpg); 
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    @apply h-screen
}

.blog-btn-add-comment {
    @apply bg-gray-700 px-4 py-3 text-xs font-extrabold mb-3 border-slate-900 bg-opacity-60 rounded-md 
}

.blog-comment {
    @apply border border-slate-500 p-3 mb-3 rounded-md bg-slate-900 bg-opacity-30
}

.blog-comment-header{
    @apply text-xs font-extrabold
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

  .blog .ck .ck-editor, .blog .ck .ck-reset, .blog .ck-sticky-panel{
    @apply rounded border-slate-600
  }
  .blog .ck .ck-editor__top, .blog .ck .ck-editor__main, .blog .ck .ck-content{
    @apply bg-slate-800 rounded
  }