@tailwind base;
@tailwind components;
@tailwind utilities;

.blog {
    @apply bg-slate-100 bg-opacity-30 border rounded p-5 mb-5 border-slate-600
}

.blog .blog_content{
    
}

.blog h1{
    @apply font-extrabold text-slate-900
}

.blog .blog_created_at{
    @apply  text-[12px]
}

.blog .avatar{
    @apply float-left rounded-full w-6 h-6 border border-slate-500 mr-2 -mt-1
}

.block .header{
    @apply pb-5
}

.blog-button{
    @apply py-2 px-3 border border-slate-500 rounded text-xs font-bold bg-slate-100
}

.blog input, .blog textarea{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full
}

.blog textarea{
    @apply h-[200px]
}

.blog .edit-post{
    @apply text-xs text-blue-400
}
.blog .delete-post{
    @apply text-xs text-red-400
}

 .blog-main-content{
    background: url(../img/pen-gb438350eb_1920.jpg); 
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    @apply h-screen
}