.gallery-item{
    @apply border border-white p-5 rounded-xl  h-48 flex items-center justify-center hover:drop-shadow-lg hover:shadow-orange-500
}

.gallery-item span{
    @apply text-4xl font-extrabold text-black
}    

.gallery-delete-icon{
    @apply text-orange-500
}

.ck{
    @apply bg-gray-700 !important
}

.gallery-edit-icon{
    @apply text-orange-500
}

.country_visited{
    @apply cursor-pointer;
}

.gallery-comment-icon{
    @apply hover:text-blue-500 cursor-pointer;
}

 #scroll::-webkit-scrollbar{
    width: 12px;               /* width of the entire scrollbar */
} 
  
 #scroll::-webkit-scrollbar-track {
    background: #18181b;        /* color of the tracking area */
  }
  
#scroll::-webkit-scrollbar-thumb {
    background-color: #18181b;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 3px solid #3f3f46;  /* creates padding around scroll thumb */
}

h1{
    @apply text-xl text-orange-500 my-3  
}

.ck-toolbar{
    @apply border-0 bg-zinc-700 rounded-t-lg !important
}

.ck-editor{
    @apply rounded-lg p-2 bg-zinc-700 !important
}

.ck-toolbar_grouping{
    @apply  !important
}

.ck-toolbar__items{
    @apply bg-zinc-700 !important
}

.ck-button{
    @apply text-orange-500 border-zinc-900 !important
}

.ck-toolbar__items, .ck-dropdown{
    @apply  text-orange-500  focus:outline-none  !important
}

.ck-content{
    @apply border-0 rounded-lg px-4 py-3  bg-zinc-900 !important
}
.ck-button__icon{
    @apply bg-orange-500 bg-zinc-700 !important
}

input[type=text], input[type=submit], select{
    @apply rounded-xl bg-zinc-900 border border-zinc-900 rounded-xl focus:outline-none focus:ring-0 focus:border-zinc-900 text-orange-500
}

.modal{
    @apply absolute z-10 bg-zinc-900 bg-opacity-80 top-0 left-0 w-screen h-screen flex items-center justify-center
}

.gallery-text a{
    @apply text-orange-300
}