@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;





body {
    @apply text-xs bg-gray-200
}

#loader{
    @apply  invisible flex items-center justify-center absolute w-screen h-screen z-40 bg-zinc-300 bg-opacity-25
}

#main-wrapper{
    @apply flex flex-col flex-1 h-screen ml-0 transition-all duration-300 ease-in-out border-l border-black /* {{-- md:ml-64 --}} */
}

#header{
    @apply sticky top-0 p-4 md:p-0 flex flex-row md:flex-col items-center justify-between bg-white shadow-md md:justify-normal  md:items-start
}

#menuButton{
    @apply text-gray-700 md:hidden
}

#sideba2{
    @apply fixed w-64 h-full p-4 overflow-auto text-white transition-transform duration-300 ease-in-out transform -translate-x-full bg-gray-800 md:relative md:translate-x-0 border-r border-black
}

#main{
    @apply flex-1  overflow-y-auto bg-gray-100 rounded
}

.menu{
    @apply flex w-full justify-start border border-zinc-600 ml-[-1px] text-black bg-gradient-to-b from-zinc-200 via-white to-zinc-200
}

.menu-item{
    @apply border-r border-zinc-400 p-3 cursor-pointer font-semibold bg-gradient-to-b hover:from-white hover:via-zinc-200 hover:to-white text-black from-zinc-200 via-white to-zinc-200
}

.server{
    @apply p-3 flex font-semibold flex-col md:flex-row hidden md:flex
}

#content{
    @apply w-full bg-gray-100 pb-10
}

#content h1{
    @apply mb-6 text-xl font-semibold text-gray-600
}

.form{
    @apply m-4
}

.tblLaravelMyAdmin{
    @apply  min-w-full font-semibold border-collapse rounded-lg shadow-lg table-auto text-xs  text-black ml-[-1px]
}

.tblLaravelMyAdmin input {
    @apply  w-full
}

.tblLaravelMyAdmin th, .tblLaravelMyAdmin td{
    @apply p-1 border border-gray-300 pl-3
}

.tblLaravelMyAdmin .header{
    @apply bg-gradient-to-b from-zinc-200 via-white to-zinc-200 border border-zinc-600
}

.tblLaravelMyAdmin th{
    @apply py-3 border border-t-0 border-zinc-400 text-left
}

.tblLaravelMyAdmin tr{
    @apply hover:bg-yellow-100 odd:bg-gray-200 even:bg-gray-100
}

.database-explorer .db{
    @apply cursor-pointer w-full px-2 py-1
}

.database-explorer .tables{
    @apply cursor-pointer w-full m-0  pl-3
}

.database-explorer .table{
    @apply p-1 m-0 whitespace-nowrap
}

.database-explorer .fields{
    @apply cursor-pointer w-full  hidden pl-3
}

.database-explorer .field{
    @apply p-1
}


.action-icon{
    @apply text-blue-500
}

.fa-trash {
    @apply text-red-500 fa-solid fa-trash-can cursor-pointer
}

select  {
    @apply block w-full px-2 py-1 border border-gray-300 rounded form-select text-xs bg-gray-100
}

input[type='text']{
    @apply block  px-2 py-1 border border-gray-300 rounded  text-xs bg-gray-100
}

input[type="checkbox"]{
    @apply w-3 h-3 text-blue-500 form-checkbox
}

.btn{
    @apply px-6 py-2 border rounded text-xs text-black border border-zinc-600 hover:border-zinc-600 bg-gradient-to-b from-zinc-200 via-white to-zinc-200  hover:from-white hover:via-zinc-200 hover:to-white
}

#modal{
    @apply fixed top-0 left-0 flex bg-green-200 w-screen h-screen items-center justify-center
}

/*




.gradient{
    @apply bg-gradient-to-b hover:from-white hover:via-zinc-200 hover:to-white text-black from-zinc-200 via-white to-zinc-200
}

















/* Für Webkit-Browser (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200 border-r-2 border-black
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-200 hover:bg-gray-300; /* Dunkelgrau */
}

/* Für Firefox */
.custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: theme(colors.gray.500) theme(colors.gray.200);
}



