@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.notification-list{
    @apply overflow-hidden sm:rounded-lg h-full p-10 flex flex-col items-center
}
.notification{
    @apply border 
          border-zinc-500
          p-10 
          rounded-md
          mb-10
          bg-gradient-to-b 
          from-zinc-200 
          via-zinc-300 
          to-zinc-200 
          max-w-[1000px]
          w-full
}

.notification h1{
    @apply font-extrabold mb-3 text-zinc-900 text-xl
}

.notification h2{
    @apply font-bold mb-3 text-zinc-900 
}

.notification .header{
    @apply font-extrabold
}


.btn{
    @apply py-2 
           px-3 
           border 
           border-slate-800 
           rounded text-xs font-bold 
           bg-gradient-to-b 
           from-zinc-200 
           via-zinc-300 
           to-zinc-200
}

.notification input, .notification text, .notification textarea, .notification select{
    @apply p-2
           text-black
           
           border-slate-500 
           rounded-lg 
           shadow-sm 
           w-full
           bg-transparent
           border
}

.notification .icon{
    @apply text-yellow-600
}

.tags-wrapper{
    @apply grid-col md:col-span-1 mt-3
}

.tags-wrapper .new-tag{
    @apply w-[75%] my-2
}

.notification .grid-col{
    @apply m-2
}


.ntfy-tag{
    @apply mr-1 bg-red-300 text-blue-300  font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400
} 

#blog-content{
    @apply text-black
}

.blog .edit-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}
.blog .delete-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}

.blog .comment-post{
    @apply text-xs text-slate-300 font-extrabold mr-2
}


.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

 ::-webkit-scrollbar{
    width: 12px;               /* width of the entire scrollbar */
} 
  
 ::-webkit-scrollbar-track {
    background: #18181b;        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #18181b;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 1px solid #3f3f46;  /* creates padding around scroll thumb */
}

   