@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* CV */

body{
    /* font-family: "Urbanist", sans-serif; font-style: normal; */
    @apply  text-blue-200
}


.file, .dir  {
    @apply cursor-pointer 
            px-1  
            text-sm font-medium 
            text-gray-400 hover:text-gray-700 hover:border-gray-300 
            transition duration-150 ease-in-out  hover:text-zinc-400
}

.laravel-type{
    background: #2d2d2d41;
    @apply w-full  p-2 text-orange-300
}

.laravel-type-wrapper{
    @apply pl-4 cursor-pointer
}

.file-active{
    @apply text-orange-400 
}

#code-block, .line-number{
    @apply  text-sm font-medium 
}

.dir-icon{
    @apply fa-regular fa-folder text-yellow-500
}

.container{
    @apply mx-auto flex-auto h-screen overflow-hidden
}

.showCodeFiles{
    background: #2d2d2d;
    @apply w-[20%] h-screen  float-left p-0 m-0 border-r border-gray-900
}

.showCodeContent{
    @apply w-[80%] h-screen float-right
}

pre[class*=language-]{
    @apply w-full mt-[-2px] h-full pt-5 
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url{
    background: #2d2d2d;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2d2d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888839;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}